<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/indexhead :: indexhead"></head>
<body>
    <nav th:replace="common/menubar :: menubar"></nav>

    <!-- Begin Site Title
    ================================================== -->
    <div class="container">
        <div>Không tìm thấy nội dung</div>
        <!-- End Site Title
    ================================================== -->
    </div>
</body>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{~/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/ie10-viewport-bug-workaround.js}"></script>
</html>