<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top News</title>
</head>
<body>
<h3>Spring Boot and Thymeleaf</h3>
<p>Hello World!</p>
<th:block th:if="${#lists.isEmpty(news)}">
    <h3>No documents avalible</h3>
</th:block>
<th:block th:unless="${#lists.isEmpty(news)}">
    <div th:each="tintuc,iteStat:${news}">
        <!--<div><img src=th:text="${tintuc.image}/></div>-->
        <img th:src="${tintuc.image}"/>
        <div th:text="${tintuc.description}"></div>
    </div>
</th:block>
</body>
</html>